.main-personalization {
    position: relative;
    padding-top: 7.4rem;
    padding-left: 11.1rem;
    padding-bottom: 37.3rem;

    @include breakpoint($xl-bp) {
        padding-bottom: 25.3rem;
    }

    @include breakpoint($sr-bp) {
        padding-top: 2rem;
        padding-left: 2rem;
    }

    .main-personalization__bgContainer {
        position: absolute;
        top: 0;
        left: -0.67rem;
        z-index: -1;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .main-personalization__subtitle {
        font-weight: 400;
        font-size: 3.8rem;
        line-height: 130%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 38%;
        margin-bottom: 5.3rem;

        @include breakpoint($xl-bp) {
            width: 46%;
        }

        @include breakpoint($sr-bp) {
            font-size: 2.128rem;
            line-height: 130%;
            width: 33%;
            margin-bottom: 2rem;
        }
    }

    .main-personalization__title {
        font-weight: 400;
        font-size: 3.8rem;
        line-height: 130%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 36%;

        @include breakpoint($sr-bp) {
            font-size: 2.128rem;
            line-height: 130%;
            width: 33%;
        }
    }

    button {
        width: 21.7rem;
        height: 21.7rem;
        border-radius: 50%;
        background: #DCB99F;
        border: none;
        padding: 0;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 5.5rem;
        margin-left: 19rem;

        @include breakpoint($xl-bp) {
            margin-left: 11rem;
        }

        @include breakpoint($sr-bp) {
            width: 16rem;
            height: 16rem;
            font-size: 1.862rem;
            line-height: 150%;
        }

        .main-personalization__btnText {
            span {
                font-weight: 700;
            }
        }
    }
}

.main {
    box-shadow: 0px 10px 20px rgb(0 0 0 / 25%);
}

.main-runString {
    display: flex;
    padding-left: 4.9rem;
    padding-top: 1.1rem;
    padding-bottom: 1.4rem;
    border-top: 0.1rem solid #B9B9B9;
    border-bottom: 0.1rem solid #B9B9B9;

    @include breakpoint($sr-bp) {
        padding-left: 2rem;
    }

    .main-runString__staticText {
        font-weight: 400;
        font-size: 3.8rem;
        line-height: 130%;
        text-transform: uppercase;
        color: #333333;
        width: 20%;

        @include breakpoint($sr-bp) {
            width: 35%;
        }
    }

    .main-runString__runString {
        display: flex;
        flex-direction: row-reverse;
        overflow: hidden;
        width: 80%;
        gap: 3rem;


        ul {
            display: flex;
            align-items: center;
            gap: 3rem;

            li {
                font-weight: 400;
                font-size: 2.1rem;
                line-height: 130%;
                text-align: center;
                color: #333333;
                padding-left: 1rem;
                padding-right: 1rem;
                list-style-type: disc;
                width: max-content;
            }
        }
    }

}

.main-swiperContainer {
    position: relative;
    border-bottom: 0.1rem solid #B9B9B9;

    h2 {
        font-weight: 400;
        font-size: 3.8rem;
        line-height: 130%;
        text-transform: uppercase;
        color: #333333;
        position: absolute;
        z-index: 111;
        top: 5rem;
        left: 5.1rem;

        @include breakpoint($sr-bp) {
            left: 2rem;
        }

    }
}

.main-present {
    display: flex;
    padding-bottom: 6.6rem;
    padding-top: 12rem;
    justify-content: space-between;
    border-bottom: 0.1rem solid #B9B9B9;

    @include breakpoint($sr-bp) {
        padding-top: 2rem;
    }

    .main-present__textContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 5rem;
        width: 48%;

        @include breakpoint($sr-bp) {
            padding-left: 2rem;
        }

        h2 {
            font-weight: 700;
            font-size: 7.2rem;
            line-height: 130%;
            text-align: center;
            text-transform: uppercase;
            color: #A6734D;
        }

        .main-present__subtitle {
            font-family: 'Bodoni';
            font-style: italic;
            font-weight: 700;
            font-size: 3.8rem;
            line-height: 130%;
            text-align: center;
            color: #333333;
            margin-top: 1rem;
            margin-bottom: 4rem;
        }


    }

    .main-present__ImgContainer {
        width: 65%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.brownBtn {
    width: 21.7rem;
    height: 21.7rem;
    padding: 0;
    border: none;
    background: #A6734D;
    box-shadow: 0rem 0.4rem 2rem #A6734D;
    border-radius: 50%;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    span {
        font-weight: 700;
    }
}

.main-develop {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6.5rem;
    padding-bottom: 4.4rem;
    border-bottom: 0.1rem solid #B9B9B9;

    @include breakpoint($sr-bp) {
        padding-top: 0rem;
    }

    .main-develop__imgContainer {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 59%;
        height: 100%;

        @include breakpoint($sr-bp) {
            position: unset;
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .swiper-pagination {
        display: flex;
        gap: 2rem;
        justify-content: center;
    }

    .swiper-pagination-bullet {
        width: 1.6rem;
        height: 1.6rem;
        background: #A6734D;
    }

    .main-develop__swiperContainer {
        width: 63%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-left: 34rem;
        margin-bottom: 7rem;

        @include breakpoint($sr-bp) {
            width: 100%;
            margin-left: 0rem;
        }

        @include breakpoint($sr-bp) {
            position: relative;
            gap: 4rem;
        }

        .swiper-slide {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .main-develop__positionContainer {
            display: flex;
            align-items: center;
            gap: 3.5rem;

            @include breakpoint($sr-bp) {
                gap: 0;
            }

            button {
                border: none;
                background: none;
                width: 4.8rem;
                height: 4.8rem;
                border: 0.1rem solid #A6734D;
                border-radius: 50%;
                padding: 0;
                margin-bottom: 2.5rem;

                @include breakpoint($sr-bp) {
                    position: absolute;
                    z-index: 1111;
                }

                svg {
                    width: 2.3rem;
                    height: 2rem;
                }
            }


            .btnPrev {
                @include breakpoint($sr-bp) {
                    bottom: -4rem;
                    left: 2rem;
                }
            }
            
            .btnNext {
                @include breakpoint($sr-bp) {
                    right: 2rem;
                    bottom: -4rem;
                }
            }

        }

        .swiper-pagination {
            position: relative;
            bottom: unset;
        }
    }

    .main-develop__subtitle {
        margin-bottom: 2.8rem;
        font-family: 'Bodoni';
        font-style: italic;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 130%;
        text-align: center;
        color: #333333;
        width: 74%;

        span {
            font-size: 3.2rem;
        }
    }

    h2 {
        font-family: 'Bodoni';
        font-style: normal;
        font-weight: 400;
        font-size: 4.8rem;
        line-height: 130%;
        text-align: center;
        color: #A6734D;
        width: 74%;
    }
}

.main-order {
    position: relative;
    padding-top: 4.4rem;
    padding-left: 12.3rem;
    padding-bottom: 51rem;
    border-bottom: 0.1rem solid #B9B9B9;

    @include breakpoint($sr-bp) {
        padding-left: 2rem;
    }

    .main-order__imgContainer {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h2 {
        font-weight: 400;
        font-size: 3.8rem;
        line-height: 130%;
        text-transform: uppercase;
        color: #A6734D;
        width: 60%;

        @include breakpoint($sr-bp) {
            width: 100%;
        }
    }
}

.main-list {
    padding-top: 7.9rem;
    padding-bottom: 8.3rem;
    border-bottom: 0.1rem solid #B9B9B9;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;

        li {
            width: 28%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            @include breakpoint($sr-bp) {
                width: 45%;
            }

            div {
                width: 25rem;
                height: 25rem;
                border-radius: 50%;
                overflow: hidden;

                @include breakpoint($sr-bp) {
                    width: 20rem;
                    height: 20rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            h2 {
                font-weight: 400;
                font-size: 3.3rem;
                line-height: 130%;
                text-transform: uppercase;
                color: #A6734D;
            }

            p {
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 130%;
                text-align: center;
                color: #333333;
            }
        }
    }
}

.main-createFormule {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-right: 11rem;
    padding-top: 9.2rem;
    padding-bottom: 9.6rem;
    border-bottom: 0.1rem solid #B9B9B9;

    @include breakpoint($sr-bp) {
        padding-top: 4.2rem;
        padding-bottom: 3.6rem;
    }

    .main-createFormule__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 36%;
        gap: 6rem;

        @include breakpoint($xl-bp) {
            width: 57%;
        }
    }

    .main-createFormule__imgContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0;
        left: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h2 {
        font-weight: 400;
        font-size: 3.6rem;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;
    }
}

.main-createForYou {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-right: 7.8rem;
    padding-top: 8.1rem;
    padding-bottom: 5rem;
    border-bottom: 0.1rem solid #B9B9B9;

    @include breakpoint($sr-bp) {
        padding-right: 0rem;
    }

    .main-createForYou__imgContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0;
        left: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .main-createForYou__contentContainer {
        display: flex;
        flex-direction: column;
        width: 41%;
        align-items: center;

        @include breakpoint($sr-bp) {
            width: 95%;
            margin: 0 auto;
        }


        h2 {
            font-weight: 400;
            font-size: 3.6rem;
            line-height: 130%;
            text-align: center;
            color: #A6734D;
        }

        button {
            margin-top: 4rem;
            margin-bottom: 3.6rem;
        }

        .main-createForYou__subtitle {
            font-weight: 400;
            font-size: 2.1rem;
            line-height: 130%;
            text-align: center;
            color: #333333;
            margin-top: 1.8rem;
        }

        .subtitleSec {
            width: 58%;
            margin-top: 0rem;

        }
    }
}

.main-doze {
    border-bottom: 0.1rem solid #B9B9B9;
    padding-top: 6.4rem;
    padding-bottom: 7.6rem;

    .main-doze__content {
        display: flex;
        flex-direction: column;


        .main-doze__textContainer {
            display: flex;
            flex-direction: column;
            width: 67%;
            margin: 0 auto;

            @include breakpoint($sr-bp) {
                width: 100%;
                padding-left: 2rem;
                padding-right: 2rem;
            }

            h2 {
                font-family: 'Bodoni';
                font-style: normal;
                font-weight: 400;
                font-size: 4.1rem;
                line-height: 130%;
                text-align: center;
                color: #A6734D;
            }

            .main-doze__subtitle {
                font-family: 'Bodoni';
                font-style: italic;
                font-weight: 700;
                font-size: 2.4rem;
                line-height: 130%;
                text-align: center;
                color: #333333;
            }
        }

        .main-doze__swiperContainer {
            padding-left: 5.5rem;
            margin-top: 4.8rem;

            @include breakpoint($sr-bp) {
                padding-left: 2rem;
            }

            .swiper-slide {
                overflow: hidden;

                .videoContainer {
                    height: 25.4rem;
                }

                .swiperText {
                    font-weight: 400;
                    font-size: 2.1rem;
                    line-height: 130%;
                    color: #333333;
                    margin-top: 1.5rem;
                    white-space: nowrap;
                }
            }
        }

        .swiper-paginationDoze {
            display: flex;
            gap: 3rem;
            justify-content: center;
            margin-top: 4rem;

            .swiper-pagination-bullet {
                background: #A6734D;
                width: 1.6rem;
                height: 1.6rem;
            }
        }
    }
}

.main-person {

    .main-person__content {
        padding-top: 4.4rem;
        padding-bottom: 4.2rem;
        border-bottom: 0.1rem solid #B9B9B9;

        h2 {
            font-family: 'Gotham Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 3.6rem;
            line-height: 130%;
            text-align: center;
            text-transform: uppercase;
            color: #A6734D;
            margin-bottom: 3.3rem;

            span {
                font-weight: 700;
            }
        }

        .main-person__textContent {
            display: flex;
            justify-content: center;
            gap: 0.8rem;

            @include breakpoint($xl-bp) {
                display: grid;
                padding-left: 4rem;
                padding-right: 2rem;
            }

            .main-person__leftContainer {
                display: flex;
                flex-direction: column;
                gap: 3.5rem;
                width: 34rem;
                margin-top: 2rem;

                @include breakpoint($xl-bp) {
                    width: 100%;
                }

                @include breakpoint($sr-bp) {
                    gap: 1rem;
                }

                li {
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 130%;
                    text-align: right;
                    color: #333333;

                    @include breakpoint($xl-bp) {
                        text-align: left;
                        list-style-type: disc;
                    }

                    span {
                        font-weight: 600;
                    }
                }
            }

            .main-person__imgContainer {
                width: 36.3rem;
                height: 49.6rem;

                @include breakpoint($xl-bp) {
                    grid-area: 1;
                    width: 20%;
                    height: 100%;
                    margin: 0 auto;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .main-person__rightContainer {
                display: flex;
                flex-direction: column;
                gap: 2.5rem;
                width: 34rem;
                margin-top: 2rem;

                @include breakpoint($xl-bp) {
                    width: 100%;
                }

                @include breakpoint($sr-bp) {
                    margin-top: 0rem;
                    gap: 1rem;
                }

                li {
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 130%;
                    color: #333333;

                    @include breakpoint($xl-bp) {
                        list-style-type: disc;
                    }
    
                }
            }
        }
    }
}


.main-cosmeticForBody {

    .main-cosmeticForBody__content {
        display: flex;
        justify-content: space-between;
        padding-left: 4.3rem;
        padding-right: 4.2rem;
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
        border-bottom: 0.1rem solid #B9B9B9;

        @include breakpoint($sr-bp) {
            flex-direction: column;
            gap: 4rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        .main-cosmeticForBody__leftContainer,
        .main-cosmeticForBody__rightContainer {


            h2 {
                font-weight: 400;
                font-size: 2.4rem;
                line-height: 130%;
                text-align: center;
                text-transform: uppercase;
                color: #A6734D;
            }

            .main-cosmeticForBody__imgContainer {
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .main-cosmeticForBody__text {
                font-weight: 400;
                font-size: 2.1rem;
                line-height: 130%;
                color: #A6734D;
            }
        }

        .main-cosmeticForBody__leftContainer {
            width: 41.8%;

            @include breakpoint($sr-bp) {
                width: 100%;
            }

            .main-cosmeticForBody__imgContainer {
                margin-top: 3rem;
                margin-left: 2rem;

                @include breakpoint($sr-bp) {
                    margin-left: 0rem;
                }
            }

            .main-cosmeticForBody__text {
                width: 45%;
                margin-left: 15.2rem;
                margin-top: 2.2rem;
            }

        }

        .main-cosmeticForBody__rightContainer {
            width: 41.8%;
            position: relative;

            @include breakpoint($sr-bp) {
                width: 100%;
            }

            .main-cosmeticForBody__imgContainer {
                margin-left: 0.6rem;
                margin-top: 3rem;
                width: 92%;

                @include breakpoint($sr-bp) {
                    width: 100%;
                    margin-left: 0rem;
                }
            }

            .main-cosmeticForBody__text {
                margin-top: 0.4rem;
                margin-left: 3rem;
            }

            .main-cosmeticForBody__imgCream {
                position: absolute;
                top: 63%;
                right: 1%;

                @include breakpoint($xl-bp) {
                    right: -2%;
                    display: none;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.main-problems {

    .main-problems__content {
        padding-top: 6.3rem;
        padding-bottom: 7.7rem;
        padding-left: 6.1rem;
        padding-right: 5.5rem;
        border-bottom: 0.1rem solid #B9B9B9;

        @include breakpoint($sr-bp) {
            padding-left: 0rem;
            padding-right: 0rem;
        }

        h2 {
            font-weight: 400;
            font-size: 3.6rem;
            line-height: 130%;
            text-align: center;
            text-transform: uppercase;
            color: #A6734D;

            @include breakpoint($sr-bp) {
                padding-left: 2rem;
                padding-right: 2rem;
            }

            span {
                font-weight: 700;
            }
        }

        .main-problems__textContainer {
            display: flex;
            justify-content: space-between;
            margin-top: 6.3rem;

            @include breakpoint($sr-bp) {
                flex-direction: column;
                gap: 4rem;
            }


            .main-problems__rightContainer {
                display: flex;
                flex-direction: column;
                gap: 3.5rem;
                width: 45%;
                align-items: center;

                @include breakpoint($sr-bp) {
                    width: 100%;
                    padding-left: 2rem;
                    padding-right: 2rem;
                }

                .main-problems__title {
                    font-weight: 700;
                    font-size: 2.4rem;
                    line-height: 150%;
                    text-align: center;
                    text-transform: uppercase;
                    color: #A6734D;
                }

                .main-problems__subtitle {
                    font-weight: 400;
                    font-size: 2.4rem;
                    line-height: 150%;
                    text-align: center;
                    text-transform: uppercase;
                    color: #A6734D;
                }
            }

            .main-problems__leftContainer {
                width: 45.6%;

                @include breakpoint($sr-bp) {
                    width: 100%;
                }

                .container1 {
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 130%;
                    text-transform: uppercase;
                    color: #333333;
                }

                .container2 {
                    margin-top: 2.1rem;
                    display: flex;
                    gap: 2rem;
                    align-items: flex-end;

                    .container4__helper {
                        flex-direction: column;
                        width: 73%;
                        justify-content: space-between;
                    }

                    span:first-child {
                        font-weight: 400;
                        font-size: 1.8rem;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #333333;
                    }

                    span:last-child {
                        font-weight: 400;
                        font-size: 1.2rem;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #333333;
                    }
                }

                .container3 {
                    font-weight: 400;
                    font-size: 2.4rem;
                    line-height: 130%;
                    text-transform: uppercase;
                    color: #333333;
                    margin-top: 1.6rem;
                }

                .container4 {
                    display: flex;
                    margin-top: 0.7rem;

                    .container4__helper {
                        display: flex;
                        flex-direction: column;

                        span:first-child {
                            font-weight: 400;
                            font-size: 1.2rem;
                            line-height: 130%;
                            text-transform: uppercase;
                            color: #333333;
                        }

                        span:last-child {
                            font-weight: 400;
                            font-size: 1.8rem;
                            line-height: 130%;
                            text-transform: uppercase;
                            color: #333333;
                        }
                    }

                    span {
                        font-weight: 400;
                        font-size: 2.4rem;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #333333;
                    }
                }

                .container5 {
                    margin-top: 1.8rem;
                    display: flex;
                    gap: 1.3rem;
                    align-items: center;

                    span:first-child {
                        font-weight: 400;
                        font-size: 2.4rem;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #333333;
                    }

                    span:last-child {
                        font-weight: 400;
                        font-size: 1.2rem;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #333333;
                    }
                }

                .container6 {
                    display: flex;
                    align-items: flex-start;
                    gap: 1rem;


                    span:first-child {
                        font-weight: 400;
                        font-size: 2.4rem;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #333333;
                    }

                    span:last-child {
                        font-weight: 400;
                        font-size: 1.8rem;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #333333;
                    }
                }

                .container7 {
                    display: flex;
                    justify-content: flex-end;

                    font-weight: 400;
                    font-size: 1.2rem;
                    line-height: 130%;
                    text-transform: uppercase;
                    color: #333333;
                }

                .container8 {
                    margin-top: 0.2rem;
                    display: flex;
                    align-items: center;
                    gap: 0.8rem;

                    span:first-child {
                        font-weight: 400;
                        font-size: 2.4rem;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #333333;
                    }

                    span:last-child {
                        font-weight: 400;
                        font-size: 1.8rem;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #333333;
                    }
                }

                .container9 {
                    display: flex;
                    align-items: flex-end;
                    gap: 0.8rem;

                    span:first-child {
                        font-weight: 400;
                        font-size: 2.4rem;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #333333;
                    }

                    span:last-child {
                        font-weight: 400;
                        font-size: 1.2rem;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #333333;

                    }
                }

                .container10 {
                    margin-top: 0.7rem;

                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 130%;
                    text-transform: uppercase;
                    color: #333333;
                    margin-top: 0.7rem;
                }

                .container11 {
                    margin-top: 0.8rem;
                    display: flex;
                    gap: 0.7rem;

                    span:first-child {
                        font-weight: 400;
                        font-size: 2.4rem;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #333333;
                    }

                    span:last-child {
                        font-weight: 400;
                        font-size: 1.8rem;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #333333;
                    }
                }

                .container12 {
                    margin-top: 0.8rem;

                    span:first-child {
                        font-weight: 400;
                        font-size: 1.8rem;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #333333;
                    }

                    span:last-child {
                        font-weight: 400;
                        font-size: 1.2rem;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #333333;
                    }
                }

                .container13 {
                    margin-top: 1.1rem;
                    display: flex;

                    span:first-child {
                        font-weight: 400;
                        font-size: 1.2rem;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #333333;
                        width: 40%;
                    }

                    span:last-child {
                        font-weight: 400;
                        font-size: 1.8rem;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #333333;
                    }
                }

                .container14 {
                    margin-top: 1.4rem;
                    display: flex;
                    gap: 1.4rem;

                    span:first-child {
                        font-weight: 400;
                        font-size: 1.8rem;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #333333;
                    }

                    span:last-child {
                        font-weight: 400;
                        font-size: 2.4rem;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #333333;
                    }
                }
            }
        }

        .brownBtn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


    }
}

.main-individualCreate {

    .main-individualCreate__contentContainer {
        padding-top: 6.3rem;
        padding-bottom: 7rem;
        border-bottom: 0.1rem solid #B9B9B9;

        h2 {
            font-weight: 400;
            font-size: 3.6rem;
            line-height: 130%;
            text-align: center;
            text-transform: uppercase;
            color: #A6734D;

            @include breakpoint($sr-bp) {
                padding-left: 2rem;
                padding-right: 2rem;
            }
            span {
                font-weight: 600;
            }
        }

        .main-individualCreate__subTitle {
            font-weight: 400;
            font-size: 2.4rem;
            line-height: 130%;
            text-align: center;
            color: #333333;
            margin-top: 2.7rem;

            @include breakpoint($sr-bp) {
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }

        .main-individualCreate__container {
            display: flex;
            flex-direction: column;
            margin-top: 5.3rem;
            padding-left: 5.5rem;
            padding-right: 4.9rem;
            flex-direction: column;

            @include breakpoint($sr-bp) {
                padding-left: 2rem;
                padding-right: 2rem;
            }

            .main-individualCreate__imgContainer {
                display: flex;
                gap: 17.7rem;

                @include breakpoint($sr-bp) {
                    flex-direction: column;
                    gap: 2rem;
                }

                .main-individualCreate__img {
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .main-individualCreate__textContainer {
                display: flex;
                gap: 5.5rem;
                align-items: center;

                @include breakpoint($sr-bp) {
                    flex-direction: column;
                    margin-top: 4rem;
                }

                .main-individualCreate__text {
                    font-weight: 400;
                    font-size: 2.4rem;
                    line-height: 130%;
                    text-align: center;
                    text-transform: uppercase;
                    color: #333333;
                    width: 63%;

                    @include breakpoint($sr-bp) {
                        width: 100%;
                    }

                    span {
                        font-weight: 600;
                    }
                }

                .brownBtn {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }


        }
    }
}

.main-sellRunLine {


    border-bottom: 0.1rem solid #B9B9B9;

    .main-sellRunLine__helper {
        margin-left: 5.5rem;
        display: flex;
        flex-direction: row-reverse;
        overflow: hidden;
        gap: 5rem;
        padding-top: 2.2rem;
        padding-bottom: 2.7rem;

        @include breakpoint($sr-bp) {
            margin-left: 0rem;
        }
    }

    ul {
        display: flex;
        gap: 5rem;

        li {
            font-weight: 400;
            font-size: 4.2rem;
            line-height: 130%;
            text-align: center;
            text-transform: uppercase;
            color: #A6734D;
            list-style-type: disc;
        }

    }
}

.main-sell {
    position: relative;
    overflow: hidden;

    .main-sell__contentContainer {
        display: flex;
        justify-content: space-between;
        padding-top: 6.2rem;
        padding-left: 9.4rem;
        padding-right: 7.5rem;
        padding-bottom: 6.2rem;
        border-bottom: 0.1rem solid #B9B9B9;

        @include breakpoint($sr-bp) {
            flex-direction: column;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 2rem;
        }

        .main-sell__imgContainer {
            width: 39%;
            height: 100%;

            @include breakpoint($sr-bp) {
                width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .main-sell__textContainer {
        display: flex;
        flex-direction: column;
        gap: 5.7rem;
        align-items: center;
        margin-top: 3rem;

        h2 {
            font-weight: 400;
            font-size: 2.4rem;
            line-height: 130%;
            text-align: center;
            text-transform: uppercase;
            color: #333333;
            display: flex;
            flex-direction: column;
            gap: 3.3rem;

            span {
                font-size: 5.8rem;
            }
        }

        .brownBtn {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .main-sell__popap {
        display: flex;
        width: 70.8%;
        box-shadow: 0px 0.4rem 2rem rgba(29, 29, 27, 0.4);
        background: #FFFFFF;
        position: absolute;
        top: 3rem;
        left: 18rem;
        transform: translateX(-110rem);
        transition: 0.3s linear;

        .main-sell__popapLeft {
            display: flex;

            form {
                padding: 2.6rem 2.5rem;
            }

            .main-sell__popapTitle {
                font-weight: 700;
                font-size: 1.9rem;
                line-height: 130%;
                text-align: center;
                color: #333333;
            }

            .main-sell__popapSubtitle {
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 130%;
                text-align: center;
                color: #333333;
                margin-top: 0.9rem;
            }

            .main-sell__inputContainer {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                margin-top: 2.8rem;

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    label {
                        font-weight: 400;
                        font-size: 1.4rem;
                        line-height: 130%;
                        color: #333333;
                    }

                    input {
                        border: 0.1rem solid #B9B9B9;
                        padding-top: 1.2rem;
                        padding-left: 1rem;
                        padding-bottom: 1rem;
                        font-weight: 400;
                        font-size: 1.4rem;
                        line-height: 130%;
                        color: #333333;
                        outline: none;
                    }
                }

                button {
                    background: #A6734D;
                    box-shadow: 0px 0.4rem 2rem #A6734D;
                    border-radius: 12rem;
                    border: none;
                    width: max-content;
                    font-weight: 400;
                    font-size: 2.4rem;
                    line-height: 150%;
                    text-align: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    padding: 1.2rem 3.5rem;
                    margin: 1.2rem auto 0 auto;
                }
            }
        }

        .main-sell__popapRight {
            width: 83.3%;
            height: 100%;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            #crossIco {
                border: none;
                background: none;
                position: absolute;
                top: 1rem;
                right: 1rem;

                svg {
                    width: 3.4rem;
                    height: 3.4rem;
                }
            }

        }
    }
}

.transitionActive {
    transform: translateX(0rem) !important;
    transition: 0.3s linear;
}

.main-tester {

    .main-tester__content {
        display: flex;
        padding-left: 4.5rem;
        justify-content: space-between;
        border-bottom: 0.1rem solid #B9B9B9;

        @include breakpoint($xl-bp) {
            flex-direction: column-reverse;
            padding-left: 2rem;
            padding-bottom: 4rem;
        }

        .main-tester__leftContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 45%;
            padding-top: 6.7rem;

            @include breakpoint($xl-bp) {
                width: 100%;
                padding-right: 2rem;
            }


            h2 {
                font-weight: 400;
                font-size: 3.6rem;
                line-height: 130%;
                text-align: center;
                text-transform: uppercase;
                color: #A6734D;

                span {
                    font-weight: 700;
                }
            }

            .main-tester__subtitle {
                font-weight: 400;
                font-size: 3rem;
                line-height: 130%;
                text-align: center;
                color: #A6734D;
                margin-top: 4.1rem;
                margin-bottom: 4.7rem;

            }
        }

        .main-tester__rightContainer {
            width: 53.4%;
            height: 100%;

            @include breakpoint($xl-bp) {
                width: 60%;
                margin-left: auto;
            }

            @include breakpoint($sr-bp) {
                width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.main-offline {

    .main-offline__contentContainer {
        display: flex;
        justify-content: space-between;
        border-bottom: 0.1rem solid #B9B9B9;

        @include breakpoint($xl-bp) {
            flex-direction: column;
            padding-bottom: 4rem;
        }

        .main-offline__leftContainer {
            width: 50.8%;
            height: 100%;

            @include breakpoint($xl-bp) {
                width: 60%;
            }

            @include breakpoint($sr-bp) {
                width: 100%;
                padding-right: 2rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .main-offline__rightContainer {
            width: 45.6%;
            padding-top: 3.1rem;
            padding-right: 3.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2.7rem;

            @include breakpoint($xl-bp) {
                width: 100%;
                padding-right: 2rem;
                padding-left: 2rem;
            }

            h2 {
                font-weight: 400;
                font-size: 3rem;
                line-height: 130%;
                color: #A6734D;
                display: flex;
                flex-direction: column;
                gap: 3.9rem;
            }
        }
    }
}

.main-choise {

    .main-choise__contentContainer {
        position: relative;
        padding-bottom: 44.4rem;
        border-bottom: 0.1rem solid #B9B9B9;

        .main-choise__imgContainer {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .main-choise__textContainer {
            display: flex;
            justify-content: space-between;
            padding-top: 3.8rem;
            padding-left: 9.5rem;
            padding-right: 17.2rem;

            @include breakpoint($sr-bp) {
                flex-direction: column;
                padding-left: 2rem;
                padding-right: 2rem;
                align-items: center;
                gap: 4rem;
            }

            h2 {
                font-weight: 400;
                font-size: 3.6rem;
                line-height: 130%;
                text-align: center;
                text-transform: uppercase;
                color: #333333;
                width: 65%;
                padding-top: 2.6rem;
                @include breakpoint($sr-bp) {
                    padding-top: 0rem;
                    width: 100%;
                }

                span {
                    font-weight: 500;
                }
            }
        }
    }
}

.main-questions {

    @include breakpoint($sr-bp) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .main-questions__titleMob {
        font-weight: 500;
        font-size: 3.6rem;
        line-height: 130%;
        text-align: center;
        color: #A6734D;
        flex-direction: column;
        gap: 4.5rem;
        display: none;

        @include breakpoint($xl-bp) {
            display: flex;
            margin-top: 3rem;
        }

    }

    .main-questions__contentContainer {
        display: flex;
        justify-content: space-between;

        .main-questions__imgContainer {
            width: 42%;
            height: 100%;
            margin-left: 5rem;
            margin-top: 2rem;

            @include breakpoint($sr-bp) {
                margin-left: 0rem;
                width: 56%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .main-questions__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 48%;
            padding-top: 8rem;
            padding-right: 6rem;

            @include breakpoint($sr-bp) {
                padding-right: 0rem;
            }

            h2 {
                font-weight: 500;
                font-size: 3.6rem;
                line-height: 130%;
                text-align: center;
                color: #A6734D;
                display: flex;
                flex-direction: column;
                gap: 4.5rem;

                @include breakpoint($xl-bp) {
                    display: none;
                }

                span {
                    text-transform: uppercase;
                    font-size: 3.6rem;
                }
            }

            .main-questions__subtitle {
                font-weight: 400;
                font-size: 2rem;
                line-height: 130%;
                color: #333333;
                margin-top: 5.6rem;
                width: 90%;

                @include breakpoint($xl-bp) {
                    margin-top: 0rem;
                }

                @include breakpoint($sr-bp) {
                    width: 100%;
                }

                span {
                    font-weight: 500;
                }
            }

            .main-questions__contactsContainer {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: max-content;
                margin-top: 5.4rem;
                gap: 1rem;

                @include breakpoint($sr-bp) {
                    margin-top: 4rem;
                }

                .main-questions__phone {
                    font-weight: 600;
                    font-size: 2rem;
                    line-height: 130%;
                    color: #333333;
                    text-decoration: unset;
                    display: flex;
                    gap: 1.5rem;
                    align-items: center;

                    svg {
                        width: 2.1rem;
                        height: 2.1rem;
                    }
                }

                .main-questions__mail {
                    font-weight: 600;
                    font-size: 2rem;
                    line-height: 130%;
                    color: #333333;
                    text-decoration: unset;
                }
            }
        }

        .main-questions__socialMedia {
            display: flex;
            margin-top: 5.5rem;
            justify-content: space-between;
            width: 100%;

            @include breakpoint($xl-bp) {
                flex-direction: column;
                gap: 4rem;
                align-items: center;
            }

            a {

                font-weight: 400;
                font-size: 1rem;
                line-height: 140%;
                text-transform: uppercase;
                color: #333333;
                text-decoration: none;

                svg {
                    width: 1.6rem;
                    height: 1.6rem;
                }
            }


        }
    }
}