<div class="header containerWidth">
    <a href="tel:8 800 700-16-23" class="header-phoneIco">
        <svg>
            <use href="#phoneIco"></use>
        </svg>
        <div class="header-phoneNumber">
            8 800 700-16-23
        </div>
    </a>

    <a href="#" class="header-logo">
        <svg>
            <use href="#logo"></use>
        </svg>
    </a>

    <a href="tel:8 800 700-16-23" class="header-whatsApp">
        <svg>
            <use href="#whatsApp"></use>
        </svg>
    </a>

</div>